<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Cabinet{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <h3>Ваши призы:</h3>

    <form action="" method="POST">
        <input type="submit" value="Получить рандомный приз">
    </form>

    <table>
        <thead>
        <tr>
            <th>Дата получения</th>
            <th>Тип приза</th>
            <th>Приз</th>
        </tr>
        </thead>
        <tbody>
        {% for gift in gifts %}
            <tr>
                <td>{{ gift.dateString }}</td>
                <td>{{ gift.humanType }}</td>
                <td>{{ gift.textValue }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
